* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url("./background.jpg");
    background-size: cover;
}

.keys {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.key {
    border: .4rem solid #000;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    width: 10rem;
    text-align: center;
    background-color: #000;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 0.5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ffc600;
}

